.shoppingList {
  background-color: #000080;
  max-width: 400px;
  max-height: 600px;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  padding: 0;
}

.listItem {
  max-width: 400px;
  max-height: 50px;
  border-top: 1px solid #FFF;
  padding: 15px;
  display: block; /* Gets rid of the stupid bullets */
}

.inputField {
  color: #ff50b9;
}

.feedback {
  color: #ff50b9;
  font-size: 30px;
}